﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="module" src="{{ asset('js/global.js') }}"></script>
    </head>
    <body>
        <div id="layout">
            <div id="menu">
                {{ render(controller('AppBundle\\Controller\\DefaultController::menu', {max: 3} )) }}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
