{% extends 'base.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            <div>
                Naukę php skończyłem na
                <a href="http://php.net/manual/en/install.windows.legacy.index.php">http://php.net/manual/en/install.windows.legacy.index.php</a>
            </div>
            <div id="welcome">
                <h1><span>Witam</span></h1>
            </div>
            <table id="status">
                <tr>
                    <th>Nazwa</th>
                    <th>Kurs</th>
                </tr>
                {% for key,value in ListaSpulek %}
                    <tr> 
                        <td> {{ key }} </td>
                        <td> {{ value }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

