{% extends 'base.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            <table id="status2">
                <tr>
                    <th>tytuł</th>
                    <th>Rok produkcji</th>
                    <th>Ocena</th>
                </tr>
                {% for movie in movies %}
                    <tr> 
                        <td> {{ movie.getTitle() }} </td>
                        <td> {{ movie.getYear().getYear() }} </td>
                        <td> {{ movie.getRating().getRating() }} </td>
                        <td> <a href="{{ path('movie-edit', {'idWatchedMovie': movie.getId()}) }}">edit</a> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

